<ng-template #content let-modal>
    <div class="modal-header">
        <div class="row">
            <div class="col-sm-12">
                <div class="float-left">
                    <h5>Forget Password</h5>
                </div>
                <button type="button" class="  btn btn-light btn-sm btn-round has-ripple waves-effect waves-light float-right " 
                data-dismiss="modal" aria-label="Close" (click)="close()">
                <i class="fa fa-close"></i></button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="app-modal-body">
            <div class="col-sm-12">
                <div class="page-body">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-sm-12">
                                <ng-container>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label class="col-form-label">Client DB Name :<span style="color: red;"> *</span></label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" formControlName="ClientDBName" name="ClientDBName"
                                            [(ngModel)]="Model.PVM.ClientDBName" 
                                            (blur)="onChangeClientId()" >
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row float-right ">
            <button type="submit" class="btn btn-success btn-sm btn-round has-ripple waves-effect waves-light mr-2" 
                (click)="submit()">Submit </button> &nbsp;
            <button type="button" class=" btn btn-danger btn-sm btn-round has-ripple waves-effect waves-light " 
                (click)="Cancel()">Cancel </button>
        </div>
    </div>
</ng-template>
<ng-template #contentsub let-modal>
    <div class="modal-header">
        <div class="row">
            <div class="col-sm-12">
                <div class="float-left">
                    <h5>Forget Password</h5>
                </div>
                <button type="button" class="  btn btn-light btn-sm btn-round has-ripple waves-effect waves-light float-right " 
                data-dismiss="modal" aria-label="Close" (click)="close()">
                <i class="fa fa-close"></i></button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="app-modal-body">
            <div class="col-sm-12">
                <div class="page-body">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="col-form-label">Client DB Name :<span style="color: red;"> *</span></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" formControlName="ClientDBName" name="ClientDBName"
                                    [(ngModel)]="Model.PVM.ClientDBName" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="col-form-label">Email : <span style="color: red;"> *</span></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" formControlName="Email" name="Email"
                                        [(ngModel)]="Model.PVM.Email" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="col-form-label">QID :<span style="color: red;"> *</span></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <select formControlName="QID" name="QID" [(ngModel)]="Model.PVM.QId" class="form-control">
                                            <option *ngFor="let type of  Model.PVM.SecurityQueslist"  value="{{type.QId}}"> {{type.QName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="col-form-label">Security Answer :<span style="color: red;"> *</span></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" formControlName="SecurityAnswer" name="SecurityAnswer"
                                        [(ngModel)]="Model.PVM.Answer" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row float-right">
            <button type="submit" class="btn btn-success btn-sm btn-round has-ripple waves-effect waves-light" 
                (click)="submit()">Submit </button>&nbsp;
            <button type="button" class=" btn btn-danger btn-sm btn-round has-ripple waves-effect waves-light" 
                (click)="Cancel()">Cancel </button>
        </div>
    </div>
</ng-template>