<div class="page-header">
  <div class="page-block">
      <div class="row align-items-center">
          <div class="col-sm-12">
              <div class="page-header-title">
                  <h5 class="m-b-10">User Notifications</h5>
              </div>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                      <a href="index.html">
                          <i class="feather icon-home"></i>
                      </a>
                  </li>
                  <li class="breadcrumb-item">
                      <a>Notifications</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a>More Notifications</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a>User Notifications</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
<app-card cardTitle="User Notifications" title="User Notifications" >
    
    <div class="text-right">
      <label>Items Per Page :</label>
      <mat-select id="name" [(value)]="size" >
        <mat-option [value]="3">3</mat-option>
        <mat-option [value]="5">5</mat-option>
        <mat-option [value]="10">10</mat-option>
      </mat-select>
    </div>
    <div *ngFor="let p of notifList |  paginate:{itemsPerPage:size,currentPage:p}" >
        <p >Module :<span [ngStyle]="{'color': p.DueDate > todate ? 'green' : 'red'}"><b > {{p?.AccountTypeName}}</b></span></p>
        <p>You have been schedule for :<span class="text-c-purple" [routerLink]="['/CRM/Common/GetActivityDetails']"[queryParams]="{ActivityId:p.ActivityID,ModuleId:p.AccountTypeID}"><b> {{p?.ActivityName}} </b></span></p>
        <p>Due Date is on :<span><b> {{p?.DueDate | date: 'MM/dd/yyyy hh:mm a'}}</b></span></p>
        <p>Remind Date is on :<span><b> {{p?.RemindDate  | date: 'MM/dd/yyyy hh:mm a'}}</b></span></p>

        <hr>
    </div>
    <div *ngIf="notifList?.length === 0" style="text-align: center;">No Notifications

    </div>
    <!-- <mat-paginator 
    [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator> -->
 
  <div class="text-right mt-2">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>
</app-card>
