<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Lists</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a >Email</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a>Lists</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>


  <div class="row btn-page">
    <div class="col-sm-12">
      <app-card cardTitle="List Details" title="List Details">
        <div class="row">
          <div class="col-sm-12" >
            <div class="float-right form-group">
              <button class="btn btn-success btn-sm btn-round has-ripple waves-effect waves-light  ">
                <i class="fa fa-plus-circle pr-1"></i> <a (click)="add()">Add Data</a>
            </button>
            </div>
            
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" class="table mb-2" >

                <tbody *ngIf="listdata?.length != 0">
                  <tr *ngFor="let  users of listdata">
                   
                       <td>
                        <a href="javascript:" class=" btn btn-danger btn-sm  has-ripple waves-effect waves-light" (click)="DeleteListConfirm(users.list_ID)" ><i class="feather icon-trash-2 text-white"></i> </a>
                       </td>   
                    <td>
                        <a href="javascript:" class="btn btn-info btn-sm  has-ripple waves-effect waves-light" (click)="CompanyCrudEventHandler(users.list_ID);" ><i class=" feather icon-edit text-white " ></i></a>
                    </td> 
                   
                    <td>{{ users.list_name }}</td>
                    <td>{{ users.target_audience }}</td>
                    <td>{{ users.description }}</td>
                    <td>{{ users.number_of_contacts }}</td>
                  </tr>
                </tbody>
                <tbody *ngIf="listdata?.length == 0">
                  <tr>
                    <td colspan="3" class="no-data-available">No data!</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
       

      </app-card>


    </div>
  </div>
  


