*.file_extension filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
/assets-fonts-fa-brands-400.ttf filter=lfs diff=lfs merge=lfs -text
/assets-fonts-fa-solid-900.ttf filter=lfs diff=lfs merge=lfs -text
/assets/fonts/cryptocoins.ttf filter=lfs diff=lfs merge=lfs -text
/assets/fonts/fa-brands-400.eot filter=lfs diff=lfs merge=lfs -text
/assets/fonts/fa-brands-400.svg filter=lfs diff=lfs merge=lfs -text
/assets/fonts/fa-brands-400.ttf filter=lfs diff=lfs merge=lfs -text
/assets/fonts/fa-regular-400.svg filter=lfs diff=lfs merge=lfs -text
/assets/fonts/fa-solid-900.eot filter=lfs diff=lfs merge=lfs -text
/assets/fonts/fa-solid-900.svg filter=lfs diff=lfs merge=lfs -text
/assets/fonts/fa-solid-900.ttf filter=lfs diff=lfs merge=lfs -text
/assets/fonts/feather.svg filter=lfs diff=lfs merge=lfs -text
/assets/images/auth/img-auth-big.jpg filter=lfs diff=lfs merge=lfs -text
/assets/images/body-bg.jpg filter=lfs diff=lfs merge=lfs -text
/assets/images/gallery-grid/masonry-2.jpg filter=lfs diff=lfs merge=lfs -text
/assets/images/gallery-grid/masonry-6.jpg filter=lfs diff=lfs merge=lfs -text
/assets/images/light-box/l1.jpg filter=lfs diff=lfs merge=lfs -text
/assets/images/light-box/l2.jpg filter=lfs diff=lfs merge=lfs -text
/assets/images/light-box/l3.jpg filter=lfs diff=lfs merge=lfs -text
/assets/images/light-box/l5.jpg filter=lfs diff=lfs merge=lfs -text
/assets/images/light-box/l6.jpg filter=lfs diff=lfs merge=lfs -text
/assets/images/maintenance/404.png filter=lfs diff=lfs merge=lfs -text
/assets/images/nav-bg/body-bg-1.jpg filter=lfs diff=lfs merge=lfs -text
/assets/images/nav-bg/body-bg-2.jpg filter=lfs diff=lfs merge=lfs -text
/assets/images/nav-bg/body-bg-4.jpg filter=lfs diff=lfs merge=lfs -text
/assets/images/nav-bg/body-bg-5.jpg filter=lfs diff=lfs merge=lfs -text
/assets/images/nav-bg/body-bg-6.jpg filter=lfs diff=lfs merge=lfs -text
/assets/images/profile/bg-1.jpg filter=lfs diff=lfs merge=lfs -text
/assets/images/profile/bg-2.jpg filter=lfs diff=lfs merge=lfs -text
/assets/images/profile/bg-3.jpg filter=lfs diff=lfs merge=lfs -text
/assets/images/profile/cover.jpg filter=lfs diff=lfs merge=lfs -text
/assets/images/user/cover.jpg filter=lfs diff=lfs merge=lfs -text
/assets/images/widget/blur-bg.png filter=lfs diff=lfs merge=lfs -text
/assets/images/widget/slider7.jpg filter=lfs diff=lfs merge=lfs -text
/blur-bg.png filter=lfs diff=lfs merge=lfs -text
/body-bg-1.jpg filter=lfs diff=lfs merge=lfs -text
/body-bg-2.jpg filter=lfs diff=lfs merge=lfs -text
/body-bg-4.jpg filter=lfs diff=lfs merge=lfs -text
/body-bg-5.jpg filter=lfs diff=lfs merge=lfs -text
/body-bg-6.jpg filter=lfs diff=lfs merge=lfs -text
/cryptocoins.ttf filter=lfs diff=lfs merge=lfs -text
/default-node_modules_angular_material_fesm2015_datepicker_mjs.js filter=lfs diff=lfs merge=lfs -text
/default-node_modules_angular_material_fesm2015_datepicker_mjs.js.map filter=lfs diff=lfs merge=lfs -text
/default-node_modules_angular_material_fesm2015_tabs_mjs.js filter=lfs diff=lfs merge=lfs -text
/default-node_modules_angular_material_fesm2015_tabs_mjs.js.map filter=lfs diff=lfs merge=lfs -text
/default-src_app_components_crm_crm_module_ts.js filter=lfs diff=lfs merge=lfs -text
/default-src_app_components_crm_crm_module_ts.js.map filter=lfs diff=lfs merge=lfs -text
/default-src_app_error_bad-input-error_ts-src_app_error_not-found-error_ts-node_modules_angula-dcb7a2.js filter=lfs diff=lfs merge=lfs -text
/default-src_app_error_bad-input-error_ts-src_app_error_not-found-error_ts-node_modules_angula-dcb7a2.js.map filter=lfs diff=lfs merge=lfs -text
/fa-brands-400.eot filter=lfs diff=lfs merge=lfs -text
/fa-brands-400.svg filter=lfs diff=lfs merge=lfs -text
/fa-brands-400.ttf filter=lfs diff=lfs merge=lfs -text
/fa-brands-400.woff2 filter=lfs diff=lfs merge=lfs -text
/fa-regular-400.svg filter=lfs diff=lfs merge=lfs -text
/fa-solid-900.eot filter=lfs diff=lfs merge=lfs -text
/fa-solid-900.svg filter=lfs diff=lfs merge=lfs -text
/fa-solid-900.ttf filter=lfs diff=lfs merge=lfs -text
/fa-solid-900.woff2 filter=lfs diff=lfs merge=lfs -text
/feather.svg filter=lfs diff=lfs merge=lfs -text
/img-auth-big.jpg filter=lfs diff=lfs merge=lfs -text
/main.js filter=lfs diff=lfs merge=lfs -text
/main.js.map filter=lfs diff=lfs merge=lfs -text
/polyfills.js filter=lfs diff=lfs merge=lfs -text
/polyfills.js.map filter=lfs diff=lfs merge=lfs -text
/primeicons.svg filter=lfs diff=lfs merge=lfs -text
/scripts.js filter=lfs diff=lfs merge=lfs -text
/scripts.js.map filter=lfs diff=lfs merge=lfs -text
/src_app_Reports_reports_reports_module_ts.js filter=lfs diff=lfs merge=lfs -text
/src_app_Reports_reports_reports_module_ts.js.map filter=lfs diff=lfs merge=lfs -text
/src_app_components_billing_billing_module_ts.js filter=lfs diff=lfs merge=lfs -text
/src_app_components_billing_billing_module_ts.js.map filter=lfs diff=lfs merge=lfs -text
/src_app_components_dashboard_dashboard_module_ts.js filter=lfs diff=lfs merge=lfs -text
/src_app_components_dashboard_dashboard_module_ts.js.map filter=lfs diff=lfs merge=lfs -text
/src_app_components_email_email_module_ts.js filter=lfs diff=lfs merge=lfs -text
/src_app_components_email_email_module_ts.js.map filter=lfs diff=lfs merge=lfs -text
/src_app_components_setup_setup_module_ts.js filter=lfs diff=lfs merge=lfs -text
/src_app_components_setup_setup_module_ts.js.map filter=lfs diff=lfs merge=lfs -text
/styles.css filter=lfs diff=lfs merge=lfs -text
/styles.css.map filter=lfs diff=lfs merge=lfs -text
/vendor.js filter=lfs diff=lfs merge=lfs -text
/vendor.js.map filter=lfs diff=lfs merge=lfs -text
/package-lock filter=lfs diff=lfs merge=lfs -text
/yarn filter=lfs diff=lfs merge=lfs -text
/node_modules.rar filter=lfs diff=lfs merge=lfs -text
/package-lock.json filter=lfs diff=lfs merge=lfs -text
/src/app/components/crm/activity/viewactivity/viewactivity.component.html filter=lfs diff=lfs merge=lfs -text
/src/app/components/crm/company/viewcompany/viewcompany.component.html filter=lfs diff=lfs merge=lfs -text
/src/app/components/crm/contact/viewcontacts/viewcontacts.component.html filter=lfs diff=lfs merge=lfs -text
/src/app/services/authentication.service.ts filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/cryptocoins.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/fa-brands-400.eot filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/fa-brands-400.svg filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/fa-brands-400.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/fa-regular-400.svg filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/fa-solid-900.eot filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/fa-solid-900.svg filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/fa-solid-900.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/feather.svg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/auth/img-auth-big.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/body-bg.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/gallery-grid/masonry-2.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/gallery-grid/masonry-6.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/light-box/l1.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/light-box/l2.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/light-box/l3.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/light-box/l5.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/light-box/l6.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/maintenance/404.png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/nav-bg/body-bg-1.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/nav-bg/body-bg-2.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/nav-bg/body-bg-4.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/nav-bg/body-bg-5.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/nav-bg/body-bg-6.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/profile/bg-1.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/profile/bg-2.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/profile/bg-3.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/profile/cover.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/user/cover.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/widget/blur-bg.png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/widget/slider7.jpg filter=lfs diff=lfs merge=lfs -text
/yarn.lock filter=lfs diff=lfs merge=lfs -text
/dist/assets-fonts-fa-brands-400.ttf filter=lfs diff=lfs merge=lfs -text
/dist/assets-fonts-fa-solid-900.ttf filter=lfs diff=lfs merge=lfs -text
/dist/assets/fonts/cryptocoins.ttf filter=lfs diff=lfs merge=lfs -text
/dist/assets/fonts/fa-brands-400.eot filter=lfs diff=lfs merge=lfs -text
/dist/assets/fonts/fa-brands-400.svg filter=lfs diff=lfs merge=lfs -text
/dist/assets/fonts/fa-brands-400.ttf filter=lfs diff=lfs merge=lfs -text
/dist/assets/fonts/fa-regular-400.svg filter=lfs diff=lfs merge=lfs -text
/dist/assets/fonts/fa-solid-900.eot filter=lfs diff=lfs merge=lfs -text
/dist/assets/fonts/fa-solid-900.svg filter=lfs diff=lfs merge=lfs -text
/dist/assets/fonts/fa-solid-900.ttf filter=lfs diff=lfs merge=lfs -text
/dist/assets/fonts/feather.svg filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/auth/img-auth-big.jpg filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/body-bg.jpg filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/gallery-grid/masonry-2.jpg filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/gallery-grid/masonry-6.jpg filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/light-box/l1.jpg filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/light-box/l2.jpg filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/light-box/l3.jpg filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/light-box/l5.jpg filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/light-box/l6.jpg filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/maintenance/404.png filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/nav-bg/body-bg-1.jpg filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/nav-bg/body-bg-2.jpg filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/nav-bg/body-bg-4.jpg filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/nav-bg/body-bg-5.jpg filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/nav-bg/body-bg-6.jpg filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/profile/bg-1.jpg filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/profile/bg-2.jpg filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/profile/bg-3.jpg filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/profile/cover.jpg filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/user/cover.jpg filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/widget/blur-bg.png filter=lfs diff=lfs merge=lfs -text
/dist/assets/images/widget/slider7.jpg filter=lfs diff=lfs merge=lfs -text
/dist/blur-bg.png filter=lfs diff=lfs merge=lfs -text
/dist/body-bg-1.jpg filter=lfs diff=lfs merge=lfs -text
/dist/body-bg-2.jpg filter=lfs diff=lfs merge=lfs -text
/dist/body-bg-4.jpg filter=lfs diff=lfs merge=lfs -text
/dist/body-bg-5.jpg filter=lfs diff=lfs merge=lfs -text
/dist/body-bg-6.jpg filter=lfs diff=lfs merge=lfs -text
/dist/cryptocoins.ttf filter=lfs diff=lfs merge=lfs -text
/dist/default-node_modules_angular_material_fesm2015_datepicker_mjs-node_modules_angular_material_f-5abc5a.js filter=lfs diff=lfs merge=lfs -text
/dist/default-node_modules_angular_material_fesm2015_datepicker_mjs-node_modules_angular_material_f-5abc5a.js.map filter=lfs diff=lfs merge=lfs -text
/dist/default-node_modules_angular_material_fesm2015_tabs_mjs.js filter=lfs diff=lfs merge=lfs -text
/dist/default-node_modules_angular_material_fesm2015_tabs_mjs.js.map filter=lfs diff=lfs merge=lfs -text
/dist/default-src_app_components_crm_crm_module_ts.js filter=lfs diff=lfs merge=lfs -text
/dist/default-src_app_components_crm_crm_module_ts.js.map filter=lfs diff=lfs merge=lfs -text
/dist/default-src_app_error_bad-input-error_ts-src_app_error_not-found-error_ts-node_modules_angula-dcb7a2.js filter=lfs diff=lfs merge=lfs -text
/dist/default-src_app_error_bad-input-error_ts-src_app_error_not-found-error_ts-node_modules_angula-dcb7a2.js.map filter=lfs diff=lfs merge=lfs -text
/dist/fa-brands-400.eot filter=lfs diff=lfs merge=lfs -text
/dist/fa-brands-400.svg filter=lfs diff=lfs merge=lfs -text
/dist/fa-brands-400.ttf filter=lfs diff=lfs merge=lfs -text
/dist/fa-brands-400.woff2 filter=lfs diff=lfs merge=lfs -text
/dist/fa-regular-400.svg filter=lfs diff=lfs merge=lfs -text
/dist/fa-solid-900.eot filter=lfs diff=lfs merge=lfs -text
/dist/fa-solid-900.svg filter=lfs diff=lfs merge=lfs -text
/dist/fa-solid-900.ttf filter=lfs diff=lfs merge=lfs -text
/dist/fa-solid-900.woff2 filter=lfs diff=lfs merge=lfs -text
/dist/feather.svg filter=lfs diff=lfs merge=lfs -text
/dist/img-auth-big.jpg filter=lfs diff=lfs merge=lfs -text
/dist/main.js filter=lfs diff=lfs merge=lfs -text
/dist/main.js.map filter=lfs diff=lfs merge=lfs -text
/dist/polyfills.js filter=lfs diff=lfs merge=lfs -text
/dist/polyfills.js.map filter=lfs diff=lfs merge=lfs -text
/dist/primeicons.svg filter=lfs diff=lfs merge=lfs -text
/dist/scripts.js filter=lfs diff=lfs merge=lfs -text
/dist/scripts.js.map filter=lfs diff=lfs merge=lfs -text
/dist/src_app_Reports_reports_reports_module_ts.js filter=lfs diff=lfs merge=lfs -text
/dist/src_app_Reports_reports_reports_module_ts.js.map filter=lfs diff=lfs merge=lfs -text
/dist/src_app_components_billing_billing_module_ts.js filter=lfs diff=lfs merge=lfs -text
/dist/src_app_components_billing_billing_module_ts.js.map filter=lfs diff=lfs merge=lfs -text
/dist/src_app_components_dashboard_dashboard_module_ts.js filter=lfs diff=lfs merge=lfs -text
/dist/src_app_components_dashboard_dashboard_module_ts.js.map filter=lfs diff=lfs merge=lfs -text
/dist/src_app_components_email_email_module_ts.js filter=lfs diff=lfs merge=lfs -text
/dist/src_app_components_email_email_module_ts.js.map filter=lfs diff=lfs merge=lfs -text
/dist/src_app_components_setup_setup_module_ts.js filter=lfs diff=lfs merge=lfs -text
/dist/src_app_components_setup_setup_module_ts.js.map filter=lfs diff=lfs merge=lfs -text
/dist/styles.css filter=lfs diff=lfs merge=lfs -text
/dist/styles.css.map filter=lfs diff=lfs merge=lfs -text
/dist/vendor.js filter=lfs diff=lfs merge=lfs -text
/dist/vendor.js.map filter=lfs diff=lfs merge=lfs -text
/node-gyp-main/CHANGELOG.md filter=lfs diff=lfs merge=lfs -text
/node-gyp-main/gyp/pylib/gyp/generator/make.py filter=lfs diff=lfs merge=lfs -text
/node-gyp-main/gyp/pylib/gyp/generator/msvs.py filter=lfs diff=lfs merge=lfs -text
/node-gyp-main/gyp/pylib/gyp/generator/ninja.py filter=lfs diff=lfs merge=lfs -text
/node-gyp-main/gyp/pylib/gyp/input.py filter=lfs diff=lfs merge=lfs -text
/node-gyp-main/gyp/pylib/gyp/xcodeproj_file.py filter=lfs diff=lfs merge=lfs -text
/node-gyp-main/gyp/tools/emacs/testdata/media.gyp.fontified filter=lfs diff=lfs merge=lfs -text
