<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Edit Invoice </h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>Billing</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>Invoice List</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>Edit Invoice</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<app-card title="Edit Invoice" cardTitle="Edit Invoice">
    <div class="row">
        <div class="col-sm-12">
            <ng-container *ngIf="InvoceObj.Posted==0;else secondTemplate">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="float-right mb-3">
                            <button type="button" class="btn btn-success btn-sm btn-round has-ripple waves-effect waves-light" (click)="post()"><span class="fa fa-save pr-1"></span>Post
                            </button>&nbsp;
                            <button type="button" class="btn btn-success btn-sm btn-round has-ripple waves-effect waves-light" (click)="onSave()"><span class="fa fa-save pr-1"></span>Save
                            </button>&nbsp;
                            <button type="button" class="btn btn-success btn-sm btn-round has-ripple waves-effect waves-light" (click)="onSave()"><span class="fa fa-save pr-1"></span>Save & New
                            </button>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #secondTemplate>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="float-right mb-3">
                            <button type="button" class="btn btn-success btn-sm btn-round has-ripple waves-effect waves-light">
                                <i class="fa fa-save pr-1"></i>Invoice Posted
                            </button>&nbsp;
                            <button type="button" class="btn btn-success btn-sm btn-round has-ripple waves-effect waves-light"
                            (click)="downloadpdf()"><span class="fa fa-print pr-1">
                            </span>Print</button>&nbsp;
                            <button type="button" class="btn btn-success btn-sm btn-round has-ripple waves-effect waves-light" (click)="OnNav()"><span class="fa fa-backward pr-1"></span>Back
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>

    <app-card cardTitle="Invoice">

        <!-- <h6 class="col-xs-6 col-sm-4 text-left text-left-sm panel-title"><i
                    class="fa fa-user page-header-icon"></i>New Invoice</h6> -->
         
        <form [formGroup]="InvoiceForm">
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-form-label">Customer Name :<span style="color: red">*</span></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <input type="text" [(ngModel)]="InvoceObj.Fname" value="{{InvoceObj.Fname}}" class="form-control"
                                            [ngClass]="{'is-invalid':submitted && f.fname.errors || !f.fname.valid && f.fname.touched && f.fname.errors}"
                                            formControlName="fname" readonly />
                                            <div *ngIf="submitted && f['fname'].errors" class="invalid-feedback">
                                                <div *ngIf="f['fname'].errors['required']">Customer Name is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-form-label">Select Customer :<span style="color: red">*</span></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <select  class="form-control" id="drpcompcontact"
                                            name="Email" formControlName="email" [(ngModel)]="InvoceObj.Email">
                                                <option value="">Please Select </option>
                                                <option *ngFor="let contactlist of contactdetailslist?.AccountObj | keyvalue"
                                                    [value]="contactlist.value.Email">{{contactlist.value.Name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-form-label">Bill To :</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <textarea class="form-control"  rows="14" value="{{billingaddrees}}" formControlName="billingadrees">   
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input type="checkbox"(change)="BilltoShiping($event.target.checked)" >
                                        <label for="acceptTerms" class="pl-2 mt-2">Copy Billing to
                                            Shipping</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-form-label">Ship To :</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <textarea class="form-control" rows="14" value="{{shippingaddress}}" formControlName="shippingaddress">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-sm-4">
                    <div class="mb-1">
                        <h4 class="text-center">Invoice</h4>
                    </div>
                    <div style="border:1px solid #ccc;">
                        <div class="form-group d-flex mt-2">
                            <div class="col-sm-6">
                                <label class="col-form-label">Invoice Number :</label>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input maxlength="50" class="form-control " type="text"
                                        [(ngModel)]="InvoceObj.InvoiceNo" formControlName="invoiceno">
                                </div>
                            </div>
                        </div>
                        <div class="form-group d-flex mt-2">
                            <div class="col-sm-6">
                                <label class="col-form-label">PO # :</label>
                            </div>
                            <div class="col-sm-6">
                                <input maxlength="50" class="form-control " type="text"
                                    [(ngModel)]="InvoceObj.PurchaseOrder" formControlName="purchaseOrder">
                            </div>
                        </div>
                        <div class="form-group d-flex mt-2">
                            <div class="col-sm-6">
                                <label class="col-form-label">Invoice Date :
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <div >
                                    <mat-form-field appearance="fill">
                                        <mat-label>Choose a date</mat-label>
                                        <input matInput [matDatepicker]="picker" [(ngModel)]="InvoceObj.CreatedDate"
                                            [ngClass]="{'is-invalid':submitted && f.createdDate.errors || !f.createdDate.valid && f.createdDate.touched && f.createdDate.errors}"
                                            formControlName="createdDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="form-group d-flex mt-2">
                            <div class="col-sm-6">
                                <label class="col-form-label">Terms :</label>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <select tabindex="14" class="form-control valid"
                                    [ngClass]="{'is-invalid':submitted && f.termsId.errors || !f.termsId.valid && f.termsId.touched && f.termsId.errors}"
                                    [(ngModel)]="InvoceObj.TermsID" formControlName="termsId">
                                        <option *ngFor="let team of teams" value="{{team.Value}}">
                                            {{team.Text}}
                                        </option>
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group d-flex mt-2">
                            <div class="col-sm-6">
                                <label class="col-form-label">Due Date :</label>
                            </div>
                            <div class="col-sm-6">
                                <div >
                                    <mat-form-field appearance="fill">
                                        <mat-label>Choose a date</mat-label>
                                        <input matInput [matDatepicker]="picker1" [(ngModel)]="InvoceObj.DueDate"
                                            formControlName="duedate">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="form-group d-flex mt-2">
                            <div class="col-sm-6">
                                <label class="col-form-label"> Recursive Invoice :</label>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <select tabindex="14" class="form-control valid"
                                        [(ngModel)]="InvoceObj.RecursTerm" formControlName="recursTerm">
                                        <option *ngFor="let recurr of  recurringInvoice"
                                            value="{{recurr.Value}}">
                                            {{recurr.Text}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">

                    <ng-container *ngIf="InvoceObj.Posted==0 || InvoceObj.Posted==null">
                        <div class="table-responsive">
                            <table  class="table table-bordered  mb-2" >
                                <thead>
                                    <tr>
                                        <th>Item/Part #</th>
                                        <th>Description <span style="color: red">*</span></th>
                                        <th>Quantity <span style="color: red">*</span></th>
                                        <th>Sale Price ($)</th>
                                        <th>Total Amount ($)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
    
                                    <tr>
                                        <td>
                                            <input class="form-control " [(ngModel)]="form.ItemCode"
                                                formControlName="itemcode">
                                        </td>
                                        <td >
                                            <div class="input-group">
                                                <input placeholder="Select Item"
                                                    class="form-control input-sm" formControlName="itemName"
                                                    [(ngModel)]="form.ItemName">
                                                <span class="input-group-append">
                                                    <a class="input-group-text">
                                                        <i class="fa fa-search"
                                                            (click)="ShowItemsModal=true"></i>
                                                    </a>
                                                </span>
    
                                            </div>
                                        </td>
    
                                        <td>
                                            <input class="form-control calcamount clsMax"
                                                formControlName="quantity" [(ngModel)]="form.Quantity"
                                                (blur)="onTotalamount()">
                                        </td>
                                        <td>
                                            <input class="form-control  calcamount"
                                                formControlName="ratePerUnit" [(ngModel)]="form.RatePerUnit">
    
                                        </td>
                                        <td><input class="form-control sumtot"  formControlName="itemTotal" [(ngModel)]="form.ItemTotal" type="text">
                                        </td>
    
                                        <td>
                                            <button class="btn btn-success btn-sm btn-round has-ripple waves-effect waves-light"
                                                (click)="Addform()" type="button">
                                                <i class="fa fa-plus-circle pr-1"></i>Add
                                            </button>
                                        </td>
                                    </tr>
    
                                </tbody>
                                <tbody>
                                    <tr *ngFor="let item of InvoceObj.Listinvoiceitems;let i=index;">
                                        <td> {{item.ItemCode}}</td>
                                        <td>{{item.ItemName}}</td>
                                        <td>{{item.Quantity}}</td>
                                        <td>{{item.RatePerUnit}}</td>
                                        <td>{{item.ItemTotal}}</td>
                                        <td>
                                            <button class="btn btn-sm  btn-danger" type="button" (click)="delete(item,i)"> 
                                                <i class="fa fa-trash pr-1"></i>Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                       

                        <div class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="float-left">
                                                    <h5>Items List</h5>
                                                </div>
                                                <button type="button" class="  btn btn-light btn-sm has-ripple waves-effect waves-light float-right "  data-dismiss="modal" aria-label="Close" ><i class="fa fa-close"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-sm-12">
                                            <div class="page-body">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="InvoceObj.Posted==1 ">
                        <div class="table-responsive">
                            <table  class="table  table-bordered mb-2" >
                                <thead>
                                    <tr>
                                        <th>Item/Part #</th>
                                        <th>Description <span style="color: red">*</span></th>
                                        <th>Quantity <span style="color: red">*</span></th>
                                        <th>Sale Price ($)</th>
                                        <th>Total Amount ($)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of InvoceObj.Listinvoiceitems;let i=index;">
                                        <td> <input type="text" readonly value="{{item.ItemCode}}"></td>
                                        <td><input type="text" readonly value="{{item.ItemName}}"></td>
                                        <td><input type="text" readonly value="{{item.Quantity}}"></td>
                                        <td><input type="text" readonly value="{{item.RatePerUnit}}"></td>
                                        <td><input type="text" readonly value="{{item.ItemTotal}}"></td>
                                        <td>
                                            <button class="btn btn-success btn-round btn-sm has-ripple waves-effect waves-light " type="button" (click)="delete(item,i)"> 
                                                <i class="fa fa-trash pr-1"></i>Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        

                        <div class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="float-left">
                                                    <h5>Items List</h5>
                                                </div>
                                                <button type="button" class="  btn btn-light btn-sm btn-round has-ripple waves-effect waves-light float-right "  data-dismiss="modal" aria-label="Close" ><i class="fa fa-close"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-sm-12">
                                            <div class="page-body">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="row mt-2 mb-3 border-bottom ml-1 mr-1">
                <div class="col-sm-8 offset-sm-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="col-form-label">Sub Total Amount ($) :</label>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input class="form-control text-right" 
                                [(ngModel)]="InvoceObj.InvoiceAmount" type="text"
                                formControlName="invoiceAmount">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="col-form-label" >Discount (%) :</label>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input class="form-control text-right form-group"
                                        [(ngModel)]="InvoceObj.Discount" type="text"
                                        formControlName="discount">
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control text-right"
                                        (change)="onDiscountAmount($event.target.value)"
                                        formControlName="discountpercent" [(ngModel)]="InvoceObj.DiscountPercent" type="text" #discountpercent>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="col-form-label">Tax (%) :</label>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input class="form-control text-right form-group" 
                                        type="text" [(ngModel)]="InvoceObj.TaxAmount" formControlName="taxAmount">
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control text-right" maxlength="6"
                                        (change)="onTaxAmount($event.target.value)" 
                                        [(ngModel)]="InvoceObj.TaxPercent"
                                        #taxparcent formControlName="taxparcent" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="col-form-label">Total Invoice
                            (payable by check or cash) :</label>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input class="form-control text-right"
                                (change)="MaterialAmount(discountpercent.value)"
                                formControlName="materialamount" [(ngModel)]="InvoceObj.MaterialAmount"
                                type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="col-form-label">Convenience :</label>

                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input class="form-control text-right form-group" 
                                        [(ngModel)]="InvoceObj.MiscellaneousAmount" type="text"
                                        formControlName="miscellaneousamount">
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control text-right" #miscellaneouspercent
                                        formControlName="miscellaneouspercent"
                                        (change)="MiscellaneousPercent($event.target.value)"
                                        [(ngModel)]="InvoceObj.MiscellaneousPercent" 
                                        type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <label class="col-form-label">Total Invoice ($)
                            (payable by Credit Card ) :</label>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input class="form-control text-right" 
                                [(ngModel)]="InvoceObj.GrandTotal" type="text" formControlName="grandTotal">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-4" style="margin-left:100px">
                        <label
                            class="col-form-label col-sm-9">Service&nbsp;Fee&nbsp;for&nbsp;CreditCard&nbsp;Transaction
                            &nbsp;(%):</label>
                        <input type="text" class="col-sm-3" id="txtService" name="ServiceFee" placeholder="3.5"
                            readonly="readonly" style="text-align:right" width="20%">
                    </div> -->
                </div>
            </div>
        </form>

        <app-card>
            <div class="row">
                <div class="col-sm-12">
                    <app-tinymce></app-tinymce>
                </div>
            </div>
        </app-card>    

    </app-card>   
        



</app-card>

<app-iteam-modal *ngIf="ShowItemsModal" (itemmodelstatus)="onitemmodelstatus($event)"
    (status)="saveStatus($event)"></app-iteam-modal>

<app-invoicemailing-template  
    [companylogo]="companylogo"
    [model]="model"
    [userDetails]="userDetails"
    [InvoceObj]="InvoceObj"
    [billingaddress]="shippingaddress">
 </app-invoicemailing-template>