<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">View Leads</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a >CRM</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a>Lead</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a>View Leads</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<app-card cardClass="tab-card" cardTitle="Edit {{leadsdetails.AccountObj.FirstName}} {{leadsdetails.AccountObj.LastName}}" [title]="'LeadDetails'">
    <div class="row">
        <div class="col-sm-12">
            <ul ngbNav #navPills="ngbNav"   [(activeId)]="selectedtab" class="nav-pills" >
              <li id="tab-Leads" ngbNavItem="tab-Leads" (click)="TabClickEvent('tab-Leads')">
                <a ngbNavLink>Lead Detail</a>
                <ng-template ngbNavContent>
                    <div [@fadeInOutTranslate] class="m-t-15">
                        <form  [formGroup]="registerForm"  novalidate>
                           <div class="row"  *ngIf="showviewdetails">  
                              <div class="col-sm-12">
                                       <div class="row" >                                
                                           <div class="col-sm-12">
                                               <div class="form-group float-right">
                                                    <div ngbDropdown class="btn-group dropdown-split-primary" >
                                                          <button type="button" class="btn btn-sm btn-round waves-effect waves-light btn-success" mdbRippleRadius>More Actions</button>
                                                          <button ngbDropdownToggle type="button" class="btn btn-sm btn-round waves-effect waves-light btn-success" mdbRippleRadius>
                                                            <span class="sr-only">More Actions</span>
                                                          </button>
                                                          <div ngbDropdownMenu>
                                                            <a class="dropdown-item waves-light" mdbRippleRadius href="javascript:" (click)="NavigateEmail()"><i class="fa fa-envelope pr-1"></i>Email</a>
                                                            <a class="dropdown-item waves-light" mdbRippleRadius href="javascript:" (click)="CloneLeadDetails()" ><i class="fa fa-clone pr-1"></i>Clone</a>
                                                            <a class="dropdown-item waves-light" mdbRippleRadius (click)="DeleteRecord(leadsdetails.AccountObj.ID)" href="javascript:"><i class="fa fa-trash-o pr-1"></i>Delete</a>
                                                            <a class="dropdown-item waves-light" mdbRippleRadius (click)="NavigateAddLeads()" href="javascript:"><i class="fa fa-plus pr-1"></i>Add New</a>
                                                            <a class="dropdown-item waves-light" mdbRippleRadius href="javascript:" (click)="NavigateActivitiesList()"><i class="fa fa-list pr-1"></i>Activities List</a>
                                                          </div>
                                                        </div>&nbsp;
                                                   <button type="button" (click)="EditLeadDetails()" class="btn btn-sm btn-round waves-effect waves-light btn-success" ><i class="fa fa-pencil-square-o pr-1"></i>Edit</button>&nbsp;
                                                   <button type="button" (click)="ConvertLead()" class="btn btn-sm btn-round waves-effect waves-light btn-success" ><i class="fa fa-exchange pr-1"></i>Convert</button>&nbsp;
                                                   <button type="button" (click)="NavigateBackleadlist()" class="btn btn-sm btn-round waves-effect waves-light btn-success"><i class="fa fa-backward pr-1"></i>Back</button>&nbsp;
                                              </div> 
                                           </div>
                                      </div>                              
                              </div> 
                           </div> 
                           <div class="row"  *ngIf="showeditdetails" >  
                              <div class="col-sm-12">
                                       <div class="row" >                                
                                           <div class="col-sm-12">
                                              <div class="form-group" style="float: right;">
                                                  <button type="button" (click)="AddAndnewLeads('savenew')"  class="btn btn-sm btn-round waves-effect waves-light btn-success" #SaveNew ><i class="fa fa-floppy-o pr-1"></i>Save & New</button>&nbsp;
                                                  <button type="button" (click)="AddAndnewLeads('save')"  class="btn btn-sm btn-round waves-effect waves-light btn-success"  #SaveNew ><i class="fa fa-floppy-o pr-1"></i>Save</button>&nbsp;
                                                  <button type="button" (click)="NavigateBackCompanylist()" class="btn btn-sm btn-round waves-effect waves-light btn-success"><i class="fa fa-backward pr-1"></i>Back</button> &nbsp; 
                                             </div> 
                                           </div>
                                      </div>                              
                              </div> 
                           </div> 
                           <div class="row" *ngIf="showviewdetails">
                              <div class="col-sm-12">
                                <fieldset [disabled]="disabledata">
                                 <app-card title='{{leadsdetails.AccountObj.FirstName}}{{leadsdetails.AccountObj.LastName}}-{{leadsdetails.AccountObj.CompanyName}}'
                                 cardTitle="{{leadsdetails.AccountObj.FirstName}}{{leadsdetails.AccountObj.LastName}}-{{leadsdetails.AccountObj.CompanyName}}"        
                                 [classHeader]="true" [blockClass]="'p-b-5'">    
                                  <div class="row">  
                                      <div > 
                                          <table class="table">                                         
                                            <tbody>
                                            <tr>
                                              
                                              <td><label >Contact Owner :</label></td>
                                              <td>{{ leadsdetails.AccountObj.Ownership }}</td>                                           
                                            </tr>
                                            <tr>
                                              <td><label >Email :</label></td>
                                              <td>{{ leadsdetails.AccountObj.Email }}</td>
                                            </tr>
                                            <tr>
                                              <td><label >Phone :</label></td>
                                              <td>{{ leadsdetails.AccountObj.Phone }}</td>                                          
                                            </tr>
                                            <tr>
                                              <td><label >Mobile :</label></td>
                                              <td>{{ leadsdetails.AccountObj.Mobile }}</td>                                          
                                            </tr>                                                                          
                                           </tbody>
                                          </table>
                                        </div>                              
                                  </div>
                                 </app-card>
                                </fieldset>         
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-12">
                                  <fieldset [disabled]="editabledata">
                                      <app-card title="Lead Detail" cardTitle="Lead Detail" [classHeader]="true">    
                                             <div class="row">   
                                               <div class="col-sm-12">
                                                 <div class="row" >                                                           
                                                      <div class="col-sm-3" >  
                                                          <ng-container *ngIf="leadsdetails.AccountObj.RoleID == 1 || leadsdetails.AccountObj.RoleID == 7;else second">
                                                              <div class="row">
                                                                  <div class="col-sm-12" >
                                                                      <label class="col-form-label">Lead Owner :</label>    
                                                                  </div>
                                                                </div>
                                                                <div class="row">
                                                                   <div class="col-sm-12" >
                                                                      <div class="input-group">
                                                                        <input type="text" class="form-control" formControlName="ownership" [(ngModel)]="leadsdetails.AccountObj.Ownership" [ngClass]="{ 'is-invalid': submitted && f.ownership.errors || !f.ownership.valid && f.ownership.touched && f.ownership.errors  }" disabled='true' >
                                                                        <span class="input-group-append"> 
                                                                              <button (click)="GetSearchUsersList()"  class="input-group-text"><i class="fa fa-search"></i></button> 
                                                                        </span>
                                                                        <div *ngIf="submitted && f.ownership.errors" class="invalid-feedback"></div> 
                                                                        <div *ngIf="f.ownership.errors?.required"  class="invalid-feedback">Last Name is required</div> 
                                                                       </div>
                                                                    </div>
                                                                </div>
                                                          </ng-container>
                                                          <ng-template #second>
                                                              <div class="row">
                                                                  <div class="col-sm-12" >
                                                                      <label class="col-form-label">Lead Owner :</label>    
                                                                  </div>
                                                                </div>
                                                                <div class="row">
                                                                   <div class="col-sm-12" >
                                                                      <div class="input-group">
                                                                        <input type="text" class="form-control" formControlName="ownership" [(ngModel)]="leadsdetails.AccountObj.Ownership" [ngClass]="{ 'is-invalid': submitted && f.ownership.errors || !f.ownership.valid && f.ownership.touched && f.ownership.errors  }" >
                                                                        <!-- <span class="input-group-append"> 
                                                                              <button (click)="GetSearchUsersList()"  class="input-group-text"><i class="fa fa-search"></i></button> 
                                                                        </span> -->
                                                                        <div *ngIf="submitted && f.ownership.errors" class="invalid-feedback"></div> 
                                                                        <div *ngIf="f.ownership.errors?.required"  class="invalid-feedback">Last Name is required</div> 
                                                                       </div>
                                                                    </div>
                                                                </div>
                                                          </ng-template>              
                                                        
                                                      </div>
                                                      <div class="col-sm-3">
                                                             <div class="row">
                                                               <div class="col-sm-12" >
                                                                   <label class="col-form-label">Company Legal Name :<span style="color:red">*</span></label>    
                                                               </div>
                                                             </div>
                                                             <div class="row">
                                                                <div class="col-sm-12" >
                                                                    <div class="input-group">
                                                                     <input type="text" class="form-control" formControlName="companyName" [(ngModel)]="leadsdetails.AccountObj.CompanyName" [ngClass]="{ 'is-invalid': submitted && f.companyName.errors || !f.companyName.valid && f.companyName.touched && f.companyName.errors  }" >
                                                                     
                                                                     <!-- <span class="input-group-append"> 
                                                                           <button (click)="GetCreateCompanyModal()"  class="input-group-text"><i class="fa fa-user-plus"></i></button> 
                                                                     </span> -->
                                                                     <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback"></div> 
                                                                     <div *ngIf="f.companyName.errors?.required"  class="invalid-feedback">Last Name is required</div> 
                                                                    </div>
                                                                 </div>
                                                             </div>
                                                      </div>
                                                      <div class="col-sm-3">
                                                       <div class="form-group">
                                                           <label class="col-form-label">Company DBA Name :</label>                       
                                                           <input type="text" class="form-control" formControlName="companydba" [(ngModel)]="leadsdetails.AccountObj.CompanyDBA" [ngClass]="{ 'is-invalid': submitted && f.companydba.errors || !f.companydba.valid && f.companydba.touched && f.companydba.errors  }" >
                                                           <div *ngIf="submitted && f.companydba.errors" class="invalid-feedback"></div> 
                                                           <div *ngIf="f.companydba.errors?.required"  class="invalid-feedback">First Name is required</div> 
                                                      </div> 
                                                      </div>   
                                                      <div class="col-sm-3" >
                                                         <div class="form-group">
                                                            <label class="col-form-label">Title :</label>                       
                                                            <input type="text" class="form-control" formControlName="title" [(ngModel)]="leadsdetails.AccountObj.Title" [ngClass]="{ 'is-invalid': submitted && f.title.errors || !f.title.valid && f.title.touched && f.title.errors  }" >
                                                            <div *ngIf="submitted && f.title.errors" class="invalid-feedback"></div> 
                                                            <div *ngIf="f.title.errors?.required"  class="invalid-feedback">Last Name is required</div> 
                                                        </div> 
                                                      </div>                                                                        
                                                 </div> 
                                                <div class="row" > 
                                                     <div class="col-sm-3">
                                                       <div class="form-group">
                                                          <label class="col-form-label">First Name :<span style="color:red" >*</span></label>                       
                                                          <input type="text" class="form-control" formControlName="firstName" [(ngModel)]="leadsdetails.AccountObj.FirstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors || !f.firstName.valid && f.firstName.touched && f.firstName.errors  }" >
                                                           <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback"></div> 
                                                           <div *ngIf="f.firstName.errors?.required"  class="invalid-feedback">First Name is required</div> 
                                                      </div> 
                                                     </div> 
                                                     <div class="col-sm-3">
                                                       <div class="form-group">
                                                           <label class="col-form-label">Middle Name :</label>                       
                                                           <input type="text" class="form-control" formControlName="middlename" [(ngModel)]="leadsdetails.AccountObj.MiddleName" [ngClass]="{ 'is-invalid': submitted && f.middlename.errors || !f.middlename.valid && f.middlename.touched && f.middlename.errors  }" >
                                                           <div *ngIf="submitted && f.middlename.errors" class="invalid-feedback"></div> 
                                                           <div *ngIf="f.middlename.errors?.required"  class="invalid-feedback">Last Name is required</div> 
                                                       </div> 
                                                     </div>       
                                                     <div class="col-sm-3">
                                                       <div class="form-group">
                                                           <label class="col-form-label">Last Name :</label>                       
                                                           <input type="text" class="form-control" formControlName="lastName" [(ngModel)]="leadsdetails.AccountObj.LastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors || !f.lastName.valid && f.lastName.touched && f.lastName.errors  }" >
                                                           <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback"></div> 
                                                           <div *ngIf="f.lastName.errors?.required"  class="invalid-feedback">Last Name is required</div> 
                                                       </div> 
                                                     </div>                                                          
                                                     <div class="col-sm-3">
                                                        <div class="form-group">
                                                           <label class="col-form-label">Email :</label>                       
                                                           <!-- <input type="text" class="form-control" formControlName="email" [(ngModel)]="leadsdetails.AccountObj.Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors || !f.email.valid && f.email.touched && f.email.errors  }" >
                                                           <div *ngIf="submitted && f.email.errors" class="invalid-feedback"></div> 
                                                           <div *ngIf="f.email.errors?.required"  class="invalid-feedback">Last Name is required</div> 
                                                           <div *ngIf="f.email.errors?.email" class="invalid-feedback">Invalid email.</div>  -->
                                                           <input type="text" class="form-control" formControlName="email" [(ngModel)]="leadsdetails.AccountObj.Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors || !f.email.valid && f.email.touched && f.email.errors  }" >
                                                           <div *ngIf="submitted && f.email.errors" class="invalid-feedback"></div> 
                                                           <div *ngIf="f.email.errors?.required"  class="invalid-feedback">Last email is required</div> 
                                                           <div *ngIf="f.email.errors?.email" class="invalid-feedback">Invalid email.</div> 
                                                        </div> 
                                                     </div>                                                                 
                                                </div> 
                                                <div class="row" >   
                                                   <div class="col-sm-3">
                                                      <label class="col-form-label">Phone :</label>
                                                      <div class="form-group">
                                                          <!-- <input type="text" class="form-control" formControlName="phone" [(ngModel)]="leadsdetails.AccountObj.Phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors || !f.phone.valid && f.phone.touched && f.phone.errors  }" >
                                                          <div *ngIf="submitted && f.phone.errors" class="invalid-feedback"></div> 
                                                          <div *ngIf="f.phone.errors?.required"  class="invalid-feedback">Last Name is required</div>  -->

                                                          <input [textMask]="{mask: maskUsMobile, guide: true}" placeholder="XXX-XXX-XXXX" type="text" (change)="onPhoneChange($event,'phone')" class="form-control" formControlName="phone" [(ngModel)]="leadsdetails.AccountObj.Phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors || !f.phone.valid && f.phone.touched && f.phone.errors  }" >
                                                          <div *ngIf="submitted && f.phone.errors" class="invalid-feedback"></div> 
                                                          <div *ngIf="f.phone.errors?.required"  class="invalid-feedback"> phone is required</div>  
                                                      </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <label class="col-form-label">Extension :</label>
                                                        <div class="form-group">
                                                            <!-- <input type="text" class="form-control" formControlName="phoneExt" [(ngModel)]="leadsdetails.AccountObj.PhoneExt" [ngClass]="{ 'is-invalid': submitted && f.phoneExt.errors || !f.phoneExt.valid && f.phoneExt.touched && f.phoneExt.errors  }" >
                                                            <div *ngIf="submitted && f.phoneExt.errors" class="invalid-feedback"></div> 
                                                            <div *ngIf="f.phoneExt.errors?.required"  class="invalid-feedback">Last Name is required</div>  -->
                                                            <input type="text" maxlength="5" class="form-control" formControlName="phoneext" (keypress)="numberOnly($event)" [(ngModel)]="leadsdetails.AccountObj.PhoneExt" [ngClass]="{ 'is-invalid': submitted && f.phoneext.errors || !f.phoneext.valid && f.phoneext.touched && f.phoneext.errors  }" >
                                                            <div *ngIf="submitted && f.phoneext.errors" class="invalid-feedback"></div> 
                                                            <div *ngIf="f.phoneext.errors?.required"  class="invalid-feedback">Last phoneext is required</div> 
                                                            <!-- <div *ngIf="f.phoneext.errors?.minlength" class="invalid-feedback">Minimum required number is 5.</div> 
                                                            <div *ngIf="f.phoneext.errors?.maxlength" class="invalid-feedback">Maximum number can be 5.</div> -->
                                                        </div>
                                                    </div>
                                                   <div class="col-sm-3">
                                                     <div class="form-group">
                                                           <label class="col-form-label">Fax :</label>                       
                                                           <!-- <input type="text" class="form-control" formControlName="fax" [(ngModel)]="leadsdetails.AccountObj.Fax" [ngClass]="{ 'is-invalid': submitted && f.fax.errors || !f.fax.valid && f.fax.touched && f.fax.errors  }" >
                                                           <div *ngIf="submitted && f.fax.errors" class="invalid-feedback"></div> 
                                                           <div *ngIf="f.fax.errors?.required"  class="invalid-feedback">Last Name is required</div>  -->
                                                           <input [textMask]="{mask: maskUsMobile, guide: true}" placeholder="XXX-XXX-XXXX" type="text" class="form-control" formControlName="fax" (change)="onPhoneChange($event,'fax')" [(ngModel)]="leadsdetails.AccountObj.Fax" [ngClass]="{ 'is-invalid': submitted && f.fax.errors || !f.fax.valid && f.fax.touched && f.fax.errors  }" >
                                                           <div *ngIf="submitted && f.fax.errors" class="invalid-feedback"></div> 
                                                           <div *ngIf="f.fax.errors?.required"  class="invalid-feedback">Last fax is required</div> 
                                                     </div> 
                                                    </div>                                                         
                                                   <div class="col-sm-3" >
                                                        <div class="form-group">
                                                           <label class="col-form-label">Mobile :</label>                       
                                                           <!-- <input type="text" class="form-control" formControlName="mobile" [(ngModel)]="leadsdetails.AccountObj.Mobile" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors || !f.mobile.valid && f.mobile.touched && f.mobile.errors  }" >
                                                           <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback"></div> 
                                                           <div *ngIf="f.mobile.errors?.required"  class="invalid-feedback">Last Name is required</div>  -->
                                                           <input [textMask]="{mask: maskUsMobile, guide: true}" placeholder="XXX-XXX-XXXX" type="text" class="form-control" formControlName="fax" (change)="onPhoneChange($event,'fax')" [(ngModel)]="leadsdetails.AccountObj.Mobile" [ngClass]="{ 'is-invalid': submitted && f.fax.errors || !f.fax.valid && f.fax.touched && f.fax.errors  }" >
                                                           <div *ngIf="submitted && f.fax.errors" class="invalid-feedback"></div> 
                                                           <div *ngIf="f.fax.errors?.required"  class="invalid-feedback">Mobile  is required</div> 
                                                        </div> 
                                                   </div>
                                                                                           
                                                </div> 
                                                <div class="row" >     
                                                  <div class="col-sm-3">
                                                    <div class="form-group">
                                                       <label class="col-form-label">Website :</label>                       
                                                       <!-- <input type="text" class="form-control" formControlName="website" [(ngModel)]="leadsdetails.AccountObj.Website" [ngClass]="{ 'is-invalid': submitted && f.website.errors || !f.website.valid && f.website.touched && f.website.errors  }" >
                                                       <div *ngIf="submitted && f.website.errors" class="invalid-feedback"></div> 
                                                       <div *ngIf="f.website.errors?.required"  class="invalid-feedback">Last Name is required</div>  -->
                                                       <input type="text" class="form-control" formControlName="website" [(ngModel)]="leadsdetails.AccountObj.Website" [ngClass]="{ 'is-invalid': submitted && f.website.errors || !f.website.valid && f.website.touched && f.website.errors  }" >
                                                       <div *ngIf="submitted && f.website.errors" class="invalid-feedback"></div> 
                                                       <div *ngIf="f.website.errors?.required"  class="invalid-feedback">Last website is required</div> 
                                                       <div *ngIf="f.website.errors?.pattern" class="invalid-feedback">Invalid Website.</div> 
                                                      </div> 
                                                 </div>                                                            
                                                      <div class="col-sm-3">
                                                       <div class="form-group">
                                                          <label class="col-form-label">  Lead Source :<span style="color:red" >*</span></label>                                                                 
                                                          <select class="form-control" formControlName="leadSource"  [(ngModel)]="leadsdetails.AccountObj.LeadSource" [ngClass]="{ 'is-invalid': submitted && f.leadSource.errors || !f.leadSource.valid && f.leadSource.touched && f.leadSource.errors  }">
                                                            <option value="0">--Please Select--</option>
                                                            <option *ngFor="let type of leadsdetails.LeadSourceList" value={{type.OSId}}>
                                                                {{type.SourceName}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="submitted && f.leadSource.errors" class="invalid-feedback"></div> 
                                                        <div *ngIf="f.leadSource.errors?.required"  class="invalid-feedback">Last Name is required</div> 
                                                       </div> 
                                                      </div>                                                                 
                                                      <div class="col-sm-3" >
                                                         <div class="form-group">
                                                            <label class="col-form-label">Lead Status :<span style="color:red" >*</span></label>                       
                                                             <select class="form-control" formControlName="leadstageid"  [(ngModel)]="leadsdetails.AccountObj.StageID" [ngClass]="{ 'is-invalid': submitted && f.leadstageid.errors || !f.leadstageid.valid && f.leadstageid.touched && f.leadstageid.errors  }" >
                                                             <option value="0">--Please Select--</option>
                                                             <option *ngFor="let type of leadsdetails.StageList" value={{type.StageId}}>
                                                                 {{type.StageName}}
                                                             </option>
                                                         </select>
                                                         <div *ngIf="submitted && f.leadstageid.errors" class="invalid-feedback"></div> 
                                                         <div *ngIf="f.leadstageid.errors?.required"  class="invalid-feedback">Last Name is required</div> 
                                                        </div> 
                                                    </div>                                        
                                               </div>                           
                                               </div>                         
                                             </div>
                                      </app-card>
                                   </fieldset>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-12">
                                <fieldset [disabled]="editabledata">
                                    <app-card title="Address Detail" cardTitle="Address Detail" [classHeader]="true">
                                        <div class="row">   
                                            <div class="col-sm-12">
                                              <div class="row" >                                                           
                                                  <div class="col-sm-3" >
                                                        <div class="form-group">
                                                           <label class="col-form-label">Address 1 :</label>                       
                                                           <input type="text" class="form-control" formControlName="mailingAddress" [(ngModel)]="leadsdetails.AccountObj.MailingAddress" [ngClass]="{ 'is-invalid': submitted && f.mailingAddress.errors || !f.mailingAddress.valid && f.mailingAddress.touched && f.mailingAddress.errors  }" >
                                                           <div *ngIf="submitted && f.mailingAddress.errors" class="invalid-feedback"></div> 
                                                           <div *ngIf="f.mailingAddress.errors?.required"  class="invalid-feedback">Last Name is required</div> 
                                                       </div> 
                                                  </div>
                                                  <div class="col-sm-3">
                                                      <div class="form-group">
                                                         <label class="col-form-label">Address 2 :</label>                       
                                                         <input type="text" class="form-control" formControlName="mailingAddress2" [(ngModel)]="leadsdetails.AccountObj.MailingAddress2" [ngClass]="{ 'is-invalid': submitted && f.mailingAddress2.errors || !f.mailingAddress2.valid && f.mailingAddress2.touched && f.mailingAddress2.errors  }" >
                                                         <div *ngIf="submitted && f.mailingAddress2.errors" class="invalid-feedback"></div> 
                                                         <div *ngIf="f.mailingAddress2.errors?.required"  class="invalid-feedback">Last Name is required</div> 
                                                     </div> 
                                                  </div>
                                                  <div class="col-sm-3">
                                                    <div class="form-group">
                                                       <label class="col-form-label">City :</label>                       
                                                       <input type="text" class="form-control" formControlName="mailingcity" [(ngModel)]="leadsdetails.AccountObj.Mailingcity" [ngClass]="{ 'is-invalid': submitted && f.mailingcity.errors || !f.mailingcity.valid && f.mailingcity.touched && f.mailingcity.errors  }" >
                                                       <div *ngIf="submitted && f.mailingcity.errors" class="invalid-feedback"></div> 
                                                       <div *ngIf="f.mailingcity.errors?.required"  class="invalid-feedback">Last Name is required</div> 
                                                    </div> 
                                                  </div>    
                                                  <div class="col-sm-3">
                                                          <div class="form-group">
                                                              <label class="col-form-label">State :</label>                       
                                                              <select class="form-control" formControlName="mailingstateid"   [(ngModel)]="leadsdetails.AccountObj.MailingstateID" [ngClass]="{ 'is-invalid': submitted && f.mailingstateid.errors || !f.mailingstateid.valid && f.mailingstateid.touched && f.mailingstateid.errors  }"  >
                                                                <option value="0">--Please Select--</option>
                                                                <option *ngFor="let type of leadsdetails.StateList" value={{type.ID}}>
                                                                    {{type.StateName}}
                                                                </option>
                                                            </select>    
                                                            <div *ngIf="submitted && f.mailingstateid.errors" class="invalid-feedback"></div> 
                                                            <div *ngIf="f.mailingstateid.errors?.required"  class="invalid-feedback">Last Name is required</div>         
                                                          </div> 
                                                  </div>                                                                       
                                              </div> 
                                              <div class="row" >                                                           
                                                  <div class="col-sm-3" >
                                                       <div class="form-group">
                                                          <label class="col-form-label">Zip/Postal Code:</label>                       
                                                          <input type="text" class="form-control" formControlName="mailingzip" [(ngModel)]="leadsdetails.AccountObj.Mailingzip" [ngClass]="{ 'is-invalid': submitted && f.mailingzip.errors || !f.mailingzip.valid && f.mailingzip.touched && f.mailingzip.errors  }" >
                                                          <div *ngIf="submitted && f.mailingzip.errors" class="invalid-feedback"></div> 
                                                          <div *ngIf="f.mailingzip.errors?.required"  class="invalid-feedback">Last Name is required</div>
                                                      </div> 
                                                  </div>
                                                  <div class="col-sm-3">
                                                     <div class="form-group">
                                                        <label class="col-form-label">Country :</label>                       
                                                        <select class="form-control" formControlName="mailingcountryid"  [(ngModel)]="leadsdetails.AccountObj.MailingcountryID" [ngClass]="{ 'is-invalid': submitted && f.mailingcountryid.errors || !f.mailingcountryid.valid && f.mailingcountryid.touched && f.mailingcountryid.errors  }" >
                                                          <option value="0">--Please Select--</option>
                                                          <option *ngFor="let type of leadsdetails.CountryList" value={{type.CountryId}}>
                                                              {{type.CountryName}}
                                                          </option>
                                                      </select>  
                                                      <div *ngIf="submitted && f.mailingcountryid.errors" class="invalid-feedback"></div> 
                                                      <div *ngIf="f.mailingcountryid.errors?.required"  class="invalid-feedback">Last Name is required</div> 
                                                    </div> 
                                                  </div>                                                                                                           
                                              </div> 
                                            </div>               
                                        </div>
                                       </app-card>
                                </fieldset>
                              </div>
                           </div>
                        </form> 
                        <div class="row">
                            <div class="col-sm-12">
                              <fieldset [disabled]="editabledata">
                                  <app-card title="Additional Information" cardTitle="Additional Information" [classHeader]="true">    
                                      <div class="row">   
                                        <div class="col-sm-12" >
                                             <div class="row" >                                                           
                                                <div class="col-sm-3" *ngFor="let item of leadsdetails.lstcustomVM">
                                                      <div class="form-group" *ngIf="item.Column_Type == 'dropdown'" >
                                                        <label class="col-form-label">{{ item.Column_Label}} :</label>                                                                             
                                                        <select class="form-control" name="DefaultValue"  [(ngModel)]="item.DefaultValue" >
                                                          <option value="0">--Please Select--</option>
                                                          <option *ngFor="let type of item.lstCustomOptionsVal" value={{type.DrpValueId}}>
                                                              {{type.DrpValue}}
                                                          </option>
                                                        </select>                                                    
                                                      </div> 
                                                      <div class="form-group"  *ngIf="item.Column_Type == 'textbox'">
                                                           <label class="col-form-label">{{ item.Column_Label}} :</label>                       
                                                            <input type="text" class="form-control" name="DefaultValue" [(ngModel)]="item.DefaultValue">                                                    
                                                      </div> 
                                                      <div class="form-group"  *ngIf="item.Column_Type == 'textarea'">
                                                        <label class="col-form-label">{{ item.Column_Label}} :</label>                       
                                                        <textarea class="form-control" style="height: 35px;" name="DefaultValue" [(ngModel)]="item.DefaultValue"> </textarea>                                                   
                                                      </div> 
                                                      <div class="form-group"  *ngIf="item.Column_Type == 'textfield'">
                                                         <label class="col-form-label">{{ item.Column_Label}} :</label>                       
                                                         <input type="text" class="form-control" name="DefaultValue" [(ngModel)]="item.DefaultValue">
                                                      </div> 
                                                      <div class="form-group"  *ngIf="item.Column_Type == 'date'">
                                                         <label class="col-form-label">{{ item.Column_Label}} :</label>                       
                                                         <input type="text" class="form-control" name="DefaultValue" [(ngModel)]="item.DefaultValue">
                                                      </div> 
                                                      <div class="form-group"  *ngIf="item.Column_Type == 'numeric'">
                                                          <label class="col-form-label">{{ item.Column_Label}} :</label>                       
                                                           <input type="text" class="form-control" name="DefaultValue" [(ngModel)]="item.DefaultValue">
                                                      </div>                                                          
                                                      <div class="form-group form-radio m-b-30" *ngIf="item.Column_Type == 'radiobutton'">
                                                         <div class="row" style="margin-left: -37px;">                                                                                          
                                                             <div class="col-sm-12">
                                                                <label class="col-form-label">{{ item.Column_Label}} :</label> 
                                                             </div>                                                  
                                                             <div class="col-sm-4" *ngFor="let item1 of item.lstCustomOptionsVal"  >                                                  
                                                                <div class="radio radiofill radio-primary radio-inline" *ngIf="item1.IsDefault == true"  >
                                                                    <label style="margin-left: 15px;">
                                                                    <input type="radio" checked="checked" name={{item.Column_Label}} value={{item1.DrpValueId}}  (change)="onChange(item1.FieldId,item1.DrpValueId, $event.target.checked)" >
                                                                    <i class="helper"></i>{{ item1.DrpValue }}
                                                                    </label>
                                                                </div>
                                                                <div class="radio radiofill radio-primary radio-inline" *ngIf="item1.IsDefault == false" >
                                                                   <label style="margin-left: 15px;">
                                                                   <input type="radio" name={{item.Column_Label}} value={{item1.DrpValueId}}  (change)="onChange(item1.FieldId,item1.DrpValueId, $event.target.checked)"  >
                                                                   <i class="helper"></i>{{ item1.DrpValue }}
                                                                   </label>
                                                                </div>
                                                             </div>
                                                          </div>
                                                      </div>  
                                                      <div class="form-group"  *ngIf="item.Column_Type == 'checkbox'">   
                                                         <div class="row" style="margin-left: -16px;">   
                                                            <div class="col-sm-12">
                                                                <label class="col-form-label">{{ item.Column_Label}} :</label> 
                                                             </div>     
                                                             <div class="col-sm-4" *ngFor="let item1 of item.lstCustomOptionsVal" >                                     
                                                                   <div class="checkbox-color checkbox-primary" *ngIf="item1.IsDefault == true" >                                        
                                                                         <input [id]=item1.DrpValueId type="checkbox"  checked="checked" (change)="onChangeCheckBox(item1.FieldId,item1.DrpValueId, $event.target.checked)" >
                                                                         <label for={{item1.DrpValueId}} >
                                                                          {{ item1.DrpValue }}
                                                                         </label>
                                                                   </div> 
                                                                   <div class="checkbox-color checkbox-primary" *ngIf="item1.IsDefault == false" >                                        
                                                                    <input [id]=item1.DrpValueId type="checkbox" (change)="onChangeCheckBox(item1.FieldId,item1.DrpValueId, $event.target.checked)" >
                                                                    <label for={{item1.DrpValueId}}  >
                                                                       {{ item1.DrpValue }}
                                                                    </label>
                                                                  </div> 
                                                             </div>
                                                          </div>  
                                                      </div>                                                                                                                                                                                 
                                                   </div>                                                                                                                     
                                             </div>                                                                                                                                                                                                                                                         
                                          </div>                         
                                       </div>
                                  </app-card>
                              </fieldset>
                            </div>
                         </div>
                      </div>
                </ng-template>
              </li>
              <li id="tab-Activity" ngbNavItem="tab-Activity" (click)="TabClickEvent('tab-Activity')">
                <a ngbNavLink>Activity</a>
                <ng-template ngbNavContent>
                    <app-activity-tab *ngIf="showActivity"    [activitysdata]="TabData" (valueChange)="LoadAtivities($event)"></app-activity-tab>
                </ng-template>
              </li>
              <li id="tab-Notes" ngbNavItem="tab-Notes" (click)="TabClickEvent('tab-Notes')">
                <a ngbNavLink>Notes</a>
                <ng-template ngbNavContent>
                    <app-note-tab *ngIf="showNote" [Notes]="TabData" (valueChange)="LoadNotes($event)" ></app-note-tab>
                </ng-template>
              </li>
              <li id="tab-Attachments" ngbNavItem="tab-Attachments" (click)="TabClickEvent('tab-Attachments')">
                <a ngbNavLink>Attachments</a>
                <ng-template ngbNavContent>
                    <app-attachments-tab  *ngIf="showAttachment" [moduletype]="modulename" [AttachmentsData]="TabData" (valueChange)="LoadAttachments($event)"></app-attachments-tab>
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="navPills" class="mt-2"></div>
          </div>

    </div>
</app-card>


 <app-emailtemplate *ngIf="ShowEmail" [Id]="leadid" [FirstName]="MailName" [Email]="leadsdetails.AccountObj.Email"(status)="OutPutStatus($event)"></app-emailtemplate> 
<app-company-model *ngIf="ShowCreateCompanyModal" (companylistmodalstatus)="CompanyStatus($event)"
    (status)="saveStatus($event)"></app-company-model>
<app-users-modal *ngIf="showSearchUsersmodal" (usersstatus)="usersStatus($event)"
    (status)="saveStatus($event)"></app-users-modal> 


   
   
   