.container{
    width: 500px;
    height: 10px;
    padding-top: 59px;
    padding-bottom: 20px;
    
}
.text-center{
    margin-bottom: 2px;
    
}
#text-center{
    justify-content: center;
    text-align: justify;
}

.title{
    font-weight: bold;
    size: 20px;
    margin-left: 30%;
    font-size: medium
}
.eye-icon{
    position: absolute;
    right: 6px;
    bottom: 25px;
    font-size: 15px;
}
input[type=checkbox]{
    accent-color: #3a913f !important;
}

