.panel-title {
    color: #004E75;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}


// .btn{

   
//     background-color: forestgreen;
//     float:right;
//     display: flex;
//     column-width:a 20px;
// }
accordion-toggle.collapsed {
    right: 0;
  
    background-repeat: no-repeat;
    color: #297ca0 !important;
    text-decoration: none;
}
.form-control{
    float:right
}
.mainLoginInput{
    height: 40px;
    padding: 0px;
    font-size: 30px;
    margin: 5px 0;
  }
  .panel-title {
    color: #004E75;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    margin-top: revert;
}

// .row {
//     margin-right: -5px;
//     margin-left: -5px;
// }
// .btn{

   
//     background-color: #4680ff;
//     float:right;
//     display: flex;
//     column-width: 20px;
// }
accordion-toggle.collapsed {
    right: 0;
  
    background-repeat: no-repeat;
    color: #297ca0 !important;
    text-decoration: none;
}
.form-control{
    float:right
}
.mainLoginInput{
    height: 40px;
    padding: 0px;
    font-size: 30px;
    margin: 5px 0;
  }

  
table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
.table-hover{
    color: #fff;
}
.text-muted:hover{
    color: blue !important;
}
.example-full-width{
    background-color: whitesmoke !important;
    height: 50px !important;
    width: 300px !important;
}
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    box-shadow:0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12)
  }
  .btn.btn-labeled {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mat-header-cell{
    cursor: pointer;
    color: #fff;
    background: silver;
    font-weight: bold;
    font-size: revert;
    color:black;
    row-gap: 100px;
    margin-bottom: 10%;
    outline:none;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    vertical-align: top;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    border-top: 1px solid #e2e5e8;

    display: table-cell;
}
.nc{
    text-align: center;
}
.panel-heading {
    background: #bfbfbf !important;
  
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 1.05rem 0.75rem;
    border-color: #e2e5e8;
    box-sizing: border-box;
    row-gap: 20px;
    border-radius: 0%;

}
.mat-cell {
    padding: 1.05rem 0.75rem;
    border-color: #e2e5e8;

}
// .col-sm-3{
//     display: inline-block;
// }

.mat-table{
    border: 0px solid gray;
}
.search{
        margin: 4px;
}
.content{
    justify-content: center;
 
    justify-content: center;
    align-items: center;
}

template{
            
    display: block;
     padding: 0px !important;
    border-radius: 4px;
    /* box-sizing: border-box; */
     overflow: hidden !important;
    outline: 0;
     width: 350%; 
    height: 100%;
    min-height: inherit;
    max-height: inherit;

}

#display {
    display: inline-block;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  table td, table th {
   
    // padding: 8px;
    text-align: left;
  }
  
  /* Define the styles for table rows when hovering */
  table tbody tr:hover {
    background-color: #f2f2f2;
  }
  app-card:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }


   
.table {
    border: 0px solid #ccc !important;
  }
   
  