<div class="row">
  <div class="col-sm-12">
    <!-- Tab variant tab card start -->
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="File">
          <mat-header-cell *matHeaderCellDef> File</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.ExcelFile}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> TotalRecords </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.TotalRecords}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> Rejected Records </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.FailedRecords}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> Uploaded Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.CreatedDate | date:'dd/MM/YYYY'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="download">
          <mat-header-cell *matHeaderCellDef> Download </mat-header-cell>
          <mat-cell *matCellDef="let element"><a class="badge text-c-green badge-light"
              (click)="DownloadComplatedFile(element.Filepath,element.ExcelFile)"
              href="javascript:void(0)">Download <i class="fa fa-download pl-1"></i></a></mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <div *ngIf="isLoading" class="spinner-container">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
      </div>
      <mat-paginator #paginator *ngIf="pagedata" [length]="resultLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons>
      </mat-paginator>

    </div>
  </div>
</div>