<ng-template #content let-modal>
    <div class="row btn-page">
        <div class="col-sm-12">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="float-left"><h5>Contact List</h5></div>
                        <button type="button" class=" btn btn-light btn-sm  has-ripple waves-effect waves-light float-right" (click)="close()">
                            <i class="fa fa-close"></i></button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="app-modal-body">
                    <div class="col-sm-12">
                        <div class="page-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table #tblContact datatable [dtOptions]="dtOptions" class="table mb-2" id="tblContact">
                                            <tbody *ngIf="contacts?.length != 0">
                                                <tr *ngFor="let contact of contacts">
                                                    <td>{{ contact.ContactID }}</td>
                                                    <td><a  href="javascript:" (click)="emitContactdata(contact)">{{ contact.ContactName }}</a></td>
                                                    <td>{{ contact.ContactCompanyName }}</td>
                                                    <td>{{ contact.DepartmentText }}</td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="contacts?.length == 0">
                                              <tr>
                                                <td colspan="3" class="no-data-available">No data!</td>
                                              </tr>
                                            <tbody>
                                      </table>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>

</ng-template>