<div class="page-header">
  <div class="page-block">
      <div class="row align-items-center">
          <div class="col-sm-12">
              <div class="page-header-title">
                  <h5 class="m-b-10">Lead History</h5>
              </div>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                      <a href="index.html">
                          <i class="feather icon-home"></i>
                      </a>
                  </li>
                  <li class="breadcrumb-item">
                      <a >CRM</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a>Lead</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a>Lead Hisory</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
<app-card title="{{tiltle}}" cardTitle="{{tiltle}}">
  <ul ngbNav #navPills="ngbNav" class="nav-pills">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Pending Files</a>
      <ng-template ngbNavContent>
        <app-pending-files [moduleTypename]="moduleTypename"></app-pending-files>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Imported Files</a>
      <ng-template ngbNavContent>
        <app-imported-files [moduleTypename]="moduleTypename"></app-imported-files>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="navPills" class="mt-2"></div>
</app-card>