.btn-light:hover,.btn-light:active{
  background-color:#dae0e5 !important;
   cursor: pointer;
   user-select: text;
   border-color: #dae0e5 !important;
 }
 .btn-info-active{
  background-color:#b9bfc5 !important;
 }
 .btn-light {
  background-color:#ecf0f5;
   border-color: #ecf0f5 !important;
   
 }

 