<div class="page-header">
  <div class="page-block">
      <div class="row align-items-center">
          <div class="col-sm-12">
              <div class="page-header-title">
                  <h5 class="m-b-10">Lead/Opportunity Source List</h5>
              </div>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                      <a href="index.html">
                          <i class="feather icon-home"></i>
                      </a>
                  </li>
                  <li class="breadcrumb-item">
                      <a >Setup</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a>Lead/Opportunity Source List</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>

<div class="btn-page">
  <div class="col-sm-12">
    <app-card title=" Lead/Opportunity Source List" cardTitle="Lead/Opportunity Source List">
      <div class="row align-items-center">
        <div class="col-sm-12">
          <div class="float-right mb-2">
            <button class="btn btn-success btn-sm btn-round has-ripple waves-effect waves-light  " (click)="LeadoppertunityCrudEventHandler(' ','New')">
              <i class="fa fa-plus-circle pr-1"></i> Add New
            </button>&nbsp;
            <button class="btn btn-success btn-sm btn-round has-ripple waves-effect waves-light" (click)="LeadoppertunityCrudEventHandler(' ','status')"><i class="fa fa-exchange pr-1"></i> Change Status
            </button>
          </div>
        </div>
      </div>
      
        <table #tblLeadSource datatable [dtOptions]="dtOptions" class="table  mb-2" id="tblLeadSource">
          <tbody *ngIf="leadsoppsourcelist?.length != 0">
              <tr *ngFor="let leads of leadsoppsourcelist">
                <td>
                  <input type="checkbox"(change)="activeInActiveToggle($event,leads)" >
                </td>
                <td>
                  <div *ngIf="leads.SourceName; then firstTemplate; else secondTemplate;"></div>
                  <ng-template #firstTemplate><a href="javascript:void" (click)="LeadoppertunityCrudEventHandler(leads.OSId,'Edit')">{{leads.SourceName}}</a>
                  </ng-template>
                  <ng-template #secondTemplate>--</ng-template>
                </td>
                <td> {{ leads.Description ? leads.Description : '--' }}</td>
                <td>
                  <ng-container [ngSwitch]="leads.Status">
                    <ng-container *ngSwitchCase="'0'">InActive</ng-container>
                    <ng-container *ngSwitchCase="'1'">Active</ng-container>
                    <div *ngSwitchDefault>{{ leads.Status }}</div>
                  </ng-container>
                </td>
              </tr>
          </tbody>
          <tbody *ngIf="leadsoppsourcelist?.length == 0">
            <tr>
              <td colspan="4" class="no-data-available" style="text-align: center;">No data!</td>
            </tr>
          <tbody>
            
        </table> 
          
    </app-card>
  </div>
</div>



  


