<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Edit List</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a >Email</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a>Lists</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a>Edit List</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="row btn-page" *ngIf="moduleName == 'Contacts'">
    <div class="col-sm-12">
        <!-- Tab variant tab card start -->
        <app-card [blockClass]="'tab-icon'" cardTitle="Contacts" title="Contacts" >
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-form-label">Keyword :</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="Contactkeyword"
                                    [(ngModel)]="Contactkeyword" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-form-label">Company Name :</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="CompanyName"
                                    [(ngModel)]="CompanyName" />
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-form-label">Contact Owner :</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="OwnerName"
                                    [(ngModel)]="OwnerName" />
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="float-right mb-2" >
                                <button type="button" class="btn btn-success btn-sm btn-round has-ripple waves-effect waves-light" (click)="searchEventHandler()">
                                    <i class="fa fa-search pr-1"></i>Search</button>&nbsp;
                                <button type="button" class="btn btn-success btn-sm btn-round has-ripple waves-effect waves-light"  (click)="OnClear()">
                                    <i class="fa fa-eraser pr-1"></i>Clear</button>&nbsp;
                                <button type="button" class="btn btn-success btn-sm btn-round has-ripple waves-effect waves-light"  (click)="NavigatetonewPop()">
                                    <i class="fa fa-eraser pr-1"></i>Save List</button>
                            </div>
                        </div>
                    </div>          
                    
                    <div class="table-responsive ">
                        <table mat-table [dataSource]="dataSource" class="table  mb-2 ">

                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row;let i=index">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle() : null"
                                        [checked]="row.IsCheck"
                                        (change)="activeInActiveToggle($event.checked, row, i)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="CreatedDate">
                                <th mat-header-cell *matHeaderCellDef> Contact Name</th>
                                <td mat-cell *matCellDef="let element">{{element.ContactName }} </td>
                            </ng-container>


                            <!-- Weight Column -->
                            <ng-container matColumnDef="LeadName">
                                <th mat-header-cell *matHeaderCellDef>Company Name </th>
                                <td mat-cell *matCellDef="let element">{{element.CompanyName}}</td>
                            </ng-container>

                            <!-- Symbol Column -->


                            <!-- Weight Column -->
                            <ng-container matColumnDef="Company">
                                <th mat-header-cell *matHeaderCellDef> Email </th>
                                <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
                            </ng-container>
                            <!-- Weight Column -->
                            <ng-container matColumnDef="Email">
                                <th mat-header-cell *matHeaderCellDef>Phone </th>
                                <td mat-cell *matCellDef="let element"> {{element.Phone}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Phone">
                                <th mat-header-cell *matHeaderCellDef>Contact Owner </th>
                                <td mat-cell *matCellDef="let element"> {{element.OwnerfirstName}}
                                    {{element.ownerlastname}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row
                                *matRowDef="let row; columns: displayedColumns  | paginate: {itemsPerPage: size, currentPage: p, totalItems: resultLength-1}">
                            </tr>
                        </table>
                    </div>
                    <div *ngIf="isLoading" class="spinner-container">
                        <mat-progress-spinner color="primary" mode="indeterminate">
                        </mat-progress-spinner>
                    </div>
                    <div class="text-right mt-2">
                        <pagination-controls (pageChange)="p = $event;paginate(p)"></pagination-controls>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>



<app-createsavepopup [emailModel]="emailModel" *ngIf="ShowAdvanceSearchModal"
    (status)="saveStatus($event)"></app-createsavepopup>