.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-row td {
  border-bottom-width: 0;
}

tr.mat-row,
tr.mat-footer-row {
  height: 0 !important;
}

.cdk-column-expandedDetail {
  padding: 0px !important;
}



.sort-header-clicked {
  background-color: #ecf0f5 !important;
  color: black ! important;
  cursor: pointer;
  user-select: text; /* Set your desired color here */
}
tr.mat-row:nth-of-type(4n+1) {
  background-color: #fff !important;
}
tr.mat-row:nth-of-type(4n+3) {
  background-color:#ecf0f5 !important;
}
tr.mat-row:nth-of-type(even) {
  background-color: #fff;
}

/* Example CSS for compact table styling */
/* Example CSS for compact table styling */

// #tblLead {
//   width: 100%;
//   border-collapse: collapse;
//   font-size: 12px; /* Smaller font size for compact display */
// }

// #tblLead th,
// #tblLead td {
//   padding: 4px; /* Further reduced padding for tighter spacing */
//   text-align: left;
//   border: 1px solid #ddd;
//   white-space: nowrap; /* Prevent text wrapping for more compact columns */
// }

// #tblLead th {
//   background-color: #f2f2f2;
//   font-size: 12px; /* Match font size for headers */
// }

// #tblLead .no-data-available {
//   text-align: center;
//   padding: 10px;
//   font-size: 12px; /* Match font size for no-data message */
// }

// #tblLead a {
//   text-decoration: none;
//   font-size: 12px; /* Adjust font size for links */
// }

// #tblLead a:hover {
//   text-decoration: underline;
// }

// #tblLead .fa {
//   margin-right: 2px; /* Further reduce space between icon and text */
// }

// .isDisabled {
//   pointer-events: none; /* Disable pointer events for the disabled state */
//   color: grey; /* Color for disabled state */
// }
// .dataTables_empty {
//   display: none;
// }

// .dataTables_wrapper .dataTables_length {
//   float: right;
//   margin-bottom: 10px; /* Adjust this value as needed */
// }

// .dataTables_wrapper .dataTables_filter {
//   float: left;
//   margin-bottom: 10px; /* Adjust this value as needed */
// }
