
<nav class="pcoded-navbar menu-light">
  <div class="navbar-wrapper"> 
    <div class="navbar-content ">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item" >
            <a href="#" class="nav-link" ><span class="pcoded-micon">
              <i class="fa-solid fa-user "></i></span>
              <span class="pcoded-mtext">Client Manager</span>
            </a>
        </li>  
        <!-- <li class="nav-item pcoded-hasmenu" >
          <a href="#" class="nav-link" ><span class="pcoded-micon">
            <i class=" "></i></span>
            <span class="pcoded-mtext"></span>
          </a>
              <ul class="pcoded-submenu" >
                <li><a href="#"></a></li>

                </ul>
        </li>   -->
      </ul>
      <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div>
      <div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
    </div>
  </div>
</nav>

<header class="navbar pcoded-header navbar-expand-lg navbar-light header-blue">
  <div class="m-header">
    <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
    <a href="#!" class="b-brand">
      <!-- <img src="../assets/images/images1.png" alt="" class="img-fluid"> -->
    </a>
    <a href="#!" class="mob-toggler">
      <i class="feather icon-more-vertical"></i>
    </a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li>
        <div class="dropdown drp-user">
          <a _ngcontent-egc-c212="" ngbdropdowntoggle="" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">
            <a _ngcontent-egc-c212="" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle user-menu"><span _ngcontent-egc-c212="" style="cursor: pointer;">Super Admin<i class="fa-solid fa-chevron-right  pl-2"></i></span>
            </a>
          </a>
          <!-- <a  class="dropdown-toggle" data-toggle="dropdown">
            <span>Super Admin<i class="fa-solid fa-chevron-right  pl-2"></i></span>
            <span class="ripple ripple-animate" style="height: 50px; width: 50px; background: rgb(255, 255, 255); opacity: 0.4; top: 3px; left: -7px;"></span>
          </a> -->
          <div class="dropdown-menu dropdown-menu-right profile-notification" style="cursor: pointer;">
            <ul class="pro-body">
              <li><a (click)="Logout()"  class="dropdown-item"><i class="feather icon-log-out">
              </i>Log Out</a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</header>

<div class="pcoded-main-container">
  <div class="pcoded-content">
    <div class="page-header">
      <div class="page-block">
          <div class="row align-items-center">
              <div class="col-sm-12">
                  <div class="page-header-title">
                      <h5 class="m-b-10">Clients</h5>
                  </div>
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a href="index.html">
                              <i class="feather icon-home"></i>
                          </a>
                      </li>
                      <li class="breadcrumb-item">
                          <a >Client Manager</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
    <app-card [title]="'Clients'" cardTitle=" Clients">
      <div class="row">
        <div class="col-sm-12">
          <div class="float-right mb-3">
            <button class="btn btn-success btn-sm btn-round has-ripple waves-effect waves-light " 
                [routerLink]="['/createclient']">
                <i class="fa fa-plus-circle pr-1"></i>Create Client
              </button>&nbsp;
              <button class="btn btn-success btn-sm btn-round has-ripple waves-effect waves-light " (click)="Logout()">
                <i class="feather icon-log-out pr-1"></i>Logout
              </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="text-right">
            <label> Items Per Page :</label>
            <mat-select id="nname"   [(ngModel)]="size" >
                <mat-option [value]="5">5</mat-option>
                <mat-option [value]="10">10</mat-option>
                <mat-option [value]="15">15</mat-option>
            </mat-select>
          </div>
          <div class="table-responsive ">
  
            <table mat-table [dataSource]="dataSource" mat-Sort class="table  mb-2" multiTemplateDataRows>
  
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="sorting sorting_asc" mat-sort-header="delete">
                  DELETE </th>
                <td mat-cell *matCellDef="let element;let i=index">
                  <div>
                    <a href="javascript:" class=" btn btn-danger btn-sm btn-round has-ripple waves-effect waves-light" (click)="DeleteClient(element['ClientDBName'])">
                      <i class="feather icon-trash-2 text-white"></i> </a>
                  </div>
                </td>
              </ng-container>
              
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> ClientID </th>
                <td mat-cell *matCellDef="let element"><a
                    [routerLink]="['/editclient',element['ClientDBName']]">{{element.ClientID}}</a> </td>
              </ng-container>
  
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> CompanyName </th>
                <td mat-cell *matCellDef="let element"> {{element.CompanyName}} </td>
              </ng-container>
  
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> CompanyType </th>
                <td mat-cell *matCellDef="let element"> {{element.companytype}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row
                *matRowDef="let row; columns: displayedColumns| paginate: {itemsPerPage: size, currentPage: p, totalItems: resultLength}">
              </tr>
  
            </table>
            <div class="text-right mt-2">
              <pagination-controls ></pagination-controls>
            </div>
            <!-- <mat-paginator #paginator *ngIf="pagedata" [length]="resultLength" [pageSize]="10"
              [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator> -->
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>







<!-- Copyright 2023 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at https://angular.io/license -->