.bg-c-lightblue {
    background-color: #69d3bf !important;
}
.bg-c-brown {
    background-color: #9d8d55;
}
.bg-c-pink {
    background-color: #d76868;
}
.text-c-pink {
    color: #d76868;
}
.text-c-brown {
    color: #9d8d55;
}
.text-c-lightblue {
    color: #69d3bf;
}

.icons-dashboard {
    height: 35px;
    width: 35px;
}