
// .text-right-sm {
//     text-align: right;
//     margin-left: 60%;
//     margin-bottom: -1px;
    
// }

.mat-input-element {
    width: 86% !important;
}


.m-b-10{
    color:white;
    font-weight: 400;
}
.button{
    text-align: center;
}
table {
    width: 100%;
  }
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    box-shadow:0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12)
  }
.mat-header-cell{
    font-size: revert;
    font-weight: bold;
    color: #fff;
    background: #ecf0f5;;
    color:black;
    row-gap: 50px;
    margin-bottom: 10%;
    outline:none;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    vertical-align: middle;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    border-top: 1px solid #e2e5e8;

    display: table-cell;
    
}


.mat-cell {
    padding: 1.05rem 0.75rem;
    border-color: #e2e5e8;
    
}
 .mat-accordion {
    padding: 10px !important;
}
.collapse {
    display: none;
}
.mat-select{
    width: 80%  !important;
}
